<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>
    <h1>Create a new account</h1>
    <form action="/register" method="post">
        <div>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required>
        </div>
        <br>
        <div>
            <label for="first_name">First name:</label><br>
            <input type="text" id="first_name" name="first_name" required>
        </div>
        <br>
        <div>
            <label for="last_name">Last name:</label><br>
            <input type="text" id="last_name" name="last_name" required>
        </div>
        <br>
        <div>
            <label for="date_of_birth">Data of Birthday:</label><br>
            <input type="date" id="date_of_birth" name="date_of_birth" required>
        </div>
        <br>
        <div>
            <label for="country">Country:</label><br>
            <input type="text" id="country" name="country" required>
        </div>
        <br>
        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
            <label for="confirm_password">Confirm Password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <br>
        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>