<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spend</title>
</head>
<body>

<h1>Spend</h1>

<p>User Spend</p>

<form action="/spend" method="post">
  <label for="category">Choose a Category:</label>
  <select name="category" id="category">
      <option value="gifts">Gifts</option>
      <option value="education">Education</option>
      <option value="travel">Travel</option>
      <option value="shopping">Shopping</option>
      <option value="transportation">Transportation</option>
      <option value="housing">Housing</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

<p></p>

</body>
</html>