<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spend</title>
</head>
<body>

<h1>Add Spend</h1>

<p>User Spend</p>

<form action= {{ 'get_all_spend' }} method="post">
<div>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" required>
    </div>
    <br>
    <div>
        <label for="amount">Amount:</label><br>
        <input type="number" step="0.01" id="amount" name="amount" required>
    </div>
    <br>
    <div>
        <label for="transaction_date">Date:</label><br>
        <input type="date" id="transaction_date" name="transaction_date" required>
    </div>
    <br>
    <div>
        <label for="category_id">Choose a Category:</label><br>
        <select id="category_id" name="category_id" required>
            <option value="">-- Select --</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button type="submit">Submit</button>
</form>

<p></p>

</body>
</html>